.dashboard-home {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../assets/auth-bg.jpeg") center/cover no-repeat;
  position: relative;
}

/* DARK OVERLAY */
.dashboard-home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

/* CARD */
.home-card {
  position: relative;
  z-index: 2;

  background: white;
  padding: 30px;
  border-radius: 12px;

  text-align: center;
  width: 350px;
}

.home-card h1 {
  margin-bottom: 10px;
}